<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/listen"
        android:label="MUSIC ON"
        android:name=".services.ApplicationClass"
        android:roundIcon="@drawable/listen"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Views.AlbumDetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Views.MusicPlay"
            android:exported="false" />
        <activity
            android:name=".Views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name="com.example.musicplayer.services.MusicService" android:enabled="true"/>

        <receiver android:name="com.example.musicplayer.services.NotificationReciever" android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="actionPrevious"/>
                <action android:name="actionNext"/>
                <action android:name="actionPlay"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>